@using EmployesCRUD.ViewModels;
@model EmployeeUpdateResponseViewModel
@{
    Layout = "_AdminLayout";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <p class="text-muted mb-0">Update Product.</p>
        </div><!--end card-header-->
        <div class="card-body">
            <form asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" method="POST">
                <div class="form-group">
                    <label asp-for="Name">Employee Name:</label>
                    <input asp-for="Name" type="text" class="form-control" id="employeeName" placeholder="Enter employee name">
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Surname:</label>
                    <input asp-for="Surname" type="text" class="form-control" id="surname" placeholder="Enter surname">
                </div>
                <div class="form-group">
                    <label asp-for="FatherName">Father name:</label>
                    <input asp-for="FatherName" type="text" class="form-control" id="fatherName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label asp-for="FIN">FIN code:</label>
                    <input asp-for="FIN" type="text" class="form-control" id="fincode" placeholder="Enter FIN code">
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email adress:</label>
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="employeeDepartment">Departmnet:</label>
                    <select asp-for="DepartmentId" id="employeeDepartment" class="form-control">
                        <option value="">-- NOT SELECTED --</option>

                        @foreach (var department in Model.Departments)
                        {
                            @if (department.Id == Model.DepartmentId)
                            {
                                <option value="@department.Id" selected>@department.Name</option>
                            }
                            else
                            {
                                <option value="@department.Id">@department.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div><!--end card-body-->
    </div><!--end card-->
</div>

